pipeline/PL_DynamicIncremental.json
{
	"name": "PL_DynamicIncremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup_TableConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_TableConfig",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_TableConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_TableConfig').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_To_Bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT *\nFROM @{item().TableName}\n@{item().IncrementalColumn != null ?\n   concat(' WHERE ', item().IncrementalColumn, ' > ''', item().LastWatermark, '''')\n: ''}\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"tableaName": {
											"value": "@item().TableName\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Bronze",
									"type": "DatasetReference",
									"parameters": {
										"fonderName": {
											"value": "@item().TableName\n",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(item().TableName,'_',formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),'.parquet')\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}